body{
    font-family: 'Lato', sans-serif;
    }
     .cover{
         position: relative;
         z-index: 0;
         width: 100%;
         background: #e79702;
     }
     .phone{
         z-index: 1;
         font-weight: 200;
     }
     .phone i{
         color: #000;
     }
     .phone a{
         color: #000;
         font-size: 13px;
         font-weight: bold;
     }
     .reg{
         width: 50%;
         text-align: right;
     }
     .reg a{
         color: #000;
         text-transform: uppercase;
         font-size:13px;
         font-weight: bold;
     }
     .social-icon{
         display: inline-block;
         width: 50%;
     }
     .social-icon p{
        display: block;
        width: 100%;
    }
    .social-icon p a{
        height: 30px;
        margin-right: 10px;
    }
    .social-icon p a i{
        font-size: 13px;
        color: #000;
    }
    .social-icon p a:hover{
        background: #f8aa02;
        border-color: #f8aa02;
    }
    .social-icon p a:hover i{ 
        color:#fff;
    }
    
    /*==================Navbar=============================*/
    .bg-color{
        background: #0f0f0ffb;
    }
    .navbar-brand{
        color: #f8aa02;
        font-weight: bold;
        font-size: 35px!important;
    }
    .nav-link{
        font-weight: bold;
        color: #f8aa02;
        font-size: 20px;
    }
    .btn-group{
        color: #f8aa02;
    }
    .navbar-toggler i{
        color: #f8aa02;
    }
    #logo{
        margin: 10px 30px;
      
      }
      
    #logo img{
        height: 50px;
        margin: 3px 6px;
      }
      
    /*==================Navbar End=============================*/



/*<!--=============================Product Sectiom ===================== -->*/
.bg-img{
    background: rgb(53, 52, 52);
}
.text-color{
    color: #fe9801;
}
.product-section h2{
    font-style: italic;
    font-size: 40px;
}
.product{
    width: 100%;
    display: block;
    margin-bottom: 40px;
    transition: all 0.3s ease;
}
.product .img{
    display: block;
    border-radius: 4px;
    height: 250px;
    position: relative;
    transition: all 0.3s ease;
    z-index: 0;
}
.product .img:after{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    background: #000;
    opacity: 0;
    border-radius: 4px;
    transition: all 0.6s ease;
}
.product .img .icons .icons-block a{
    margin: 0 2px;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(204, 204, 18);
}
.product .img .icons .icons-block a i{
    color:#fff;
}
.product .text{
    padding: 20px;
    position: relative;
}
.product .text .out,.product .text .day,
.product .text .week{
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 12px;
    padding: 0 10px;
    color: #fff;
}
.product .text .out{
    background: #b7472a;
}
.product .text .day{
    background: #fe9801;
}
.product .text .week{
    background: #01d28e;
}
.product .text h2{
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 300; 
}
  .product .text .star {
    /* font-style: italic; */
    color: #fe9801; 
}
.product .text .category {
    font-style: italic;
    color: #fe9801; 
}
.product .text .price{
    font-style: italic;
    color: #fff;
}
.product:hover .img::after{
    opacity: .7;
}
.product:hover .img .icons{
    opacity: 1;
}
.glow{
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
    
}
.glow:hover, .glow:focus, .glow:active {
    box-shadow: 1px 1px 8px rgb(236, 117, 5);
}


/* <!-- ============= All Products ==============--> */
.btn-prod{
    display: inline-block;
    vertical-align: middle;
    color: #fe9801!important;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(236, 117, 5);
    position: relative;
    overflow: hidden;
}
.btn-prod:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 0;
    background: #fe9801;
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.btn-prod:hover:before, .btn-prod:focus::before,
.btn-prod:active::before{
    left: 0;
    right: 0;
}


/*<!--=============================Product Sectiom End===================== -->*/

/* <!--============================= Footer Section ============================== --> */
        @import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
    
        .footer-section {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            min-height: 46vh; 
            flex-direction: column;
            background: #ede7f6;
        }
        footer{
            position: relative;
            width: 100%;
            height: auto;
            padding: 5px 100px;
            background: #111;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        footer .container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
        }
        footer .container .sec{
            margin: 30px;
        
        }
        footer .container .sec.aboutus{
            width: 40%;
        }
        footer .container h2{
            position: relative;
            color: #fff;
            font-weight: 500;
            margin-bottom: 15px;
        }
        footer .container h2:before{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 50px;
            height: 2px;
            background: #f00;
        }
        footer p{
            color: #999;
        }
        .sci{
            margin-top: 20px;
            display: flex;
        }
        .sci li a{
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #222;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            text-decoration: none;
            border-radius: 4px;
        }
        .sci li a:hover{
        background: #f00;
        }
        .sci li a .fa{
            color: #fff;
            font-size: 20px;
        }
        .quickLinks{
            position: relative;
            width: 25%;
        }
        .quickLinks ul li{
            list-style: none;
        }
        .quickLinks ul li a{
            color: #999;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }
        .quickLinks ul li a:hover{
            color: #fff;
        }
        
        
        
        .contact{
            width: colc(35% - 60px);
            margin-right: 0 !important;
        }
        .contact .info{
            position: relative;
        }
        .contact .info li{
            display: flex;
            margin-bottom: 16px;
        }
        .contact .info li span:nth-child(1){
            color: #fff;
            font-size: 20px;
            margin-right: 10px;
        }
        .contact .info li span{
            color: #999;
        }
        .contact .info li a{
            color: #999;
        }
        
        .copyrightText{
            width: 100%;
            background: #181818;
            padding-inline-end: 8px 100px;
            text-align: center;
            color: #999;
        }
        @media (max-width:991px) {
            footer{
                padding: 40px;
            }
            footer .container{
                flex-direction: column;
            }
            footer .container .sec{
                margin-right: 0;
                margin-bottom: 40px;
            }
            footer .container .sec.sec.aboutus,
            .quickLinks, .contact{
                wudth:100%;
            }
            .copyrightText{
                padding: 8px 40px;
            }
        }
        /* <!--=============================End of Footer Section ============================== --> */